body {
    background: #fffff8;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}


section {
    max-width: 80%;
    margin: 0 auto;
    padding-bottom: 20px;
    padding-top: 20px;
}

div.title{
    font-weight: bold;
    font-size: 30px;
    margin-bottom: 20px;
}


#entryHolder div{
    margin-bottom: 10px;
}