body {
    background: #fffff8;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

section {
    margin: 50px 200px;
}

div.title{
    text-align: center;
    font-weight: bold;
    font-size: 30px;
}
